@import "../variables";
@font-face {
  font-family: Peace Sans;
  font-style: normal;
  src: url("../fonts/PeaceSans.svg") format('svg'),
  url("../fonts/PeaceSans.woff") format('woff'),
  url("../fonts/PeaceSans.woff2") format('woff2'),
  url("../fonts/PeaceSans.eot") format('eot'),
  url("../fonts/PeaceSans.ttf") format('ttf');
}

@font-face {
  font-family: Franxurter Totally;
  font-style: normal;
  src: url("../fonts/FranxurterTotallyMedium.svg") format('svg'),
  url("../fonts/FranxurterTotallyMedium.woff") format('woff'),
  url("../fonts/FranxurterTotallyMedium.woff2") format('woff2'),
  url("../fonts/FranxurterTotallyMedium.eot") format('eot'),
  url("../fonts/FranxurterTotallyMedium.ttf") format('ttf');
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Raleway-Medium.svg") format('svg'),
  url("../fonts/Raleway-Medium.woff") format('woff'),
  url("../fonts/Raleway-Medium.woff2") format('woff2'),
  url("../fonts/Raleway-Medium.eot") format('eot'),
  url("../fonts/Raleway-Medium.ttf") format('ttf');
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.svg") format('svg'),
  url("../fonts/Raleway-Regular.woff") format('woff'),
  url("../fonts/Raleway-Regular.woff2") format('woff2'),
  url("../fonts/Raleway-Regular.eot") format('eot'),
  url("../fonts/Raleway-Regular.ttf") format('ttf');
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Raleway-Light.svg") format('svg'),
  url("../fonts/Raleway-Light.woff") format('woff'),
  url("../fonts/Raleway-Light.woff2") format('woff2'),
  url("../fonts/Raleway-Light.eot") format('eot'),
  url("../fonts/Raleway-Light.ttf") format('ttf');
}


body {
  font: $base-font;
  font-weight: 400;
  color: #000;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: bold;
}

h1, .h1 {
  font: $h1-font;
  margin-bottom: $h1-margin-bottom;
}

h2, .h2 {
  font: $h2-font;
  margin-bottom: $h2-margin-bottom;
}

h3, .h3 {
  font: $h3-font;
  margin-bottom: $h3-margin-bottom;
}

h4, .h4 {
  font: $h4-font;
  margin-bottom: $h4-margin-bottom;
}

h5, .h5 {
  font: $h5-font;
  margin-bottom: $h5-margin-bottom;
}

@include respond-to(sm) {
  //body{
  //  font-size: 14px;
  //}

  h1, .h1 {
    font: $h1-font-sm;
  }

  h2, .h2 {
    font: $h2-font-sm;
  }

  h3, .h3 {
    font: $h3-font-sm;
  }

  h4, .h4 {
    font: $h4-font-sm;
  }

  h5, .h5 {
    font: $h5-font-sm;
  }
}

a {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

p, .list-styled {
  a {
    border-bottom: 1px dashed orange;
    &:hover {
      text-decoration: none;
    }
  }
}