@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

$primary: rgba(#50D5B7, 1);
$secondary: rgba(#6580E2, 1);
$yellow: rgba(#EBFF00, 1);
$dark: rgba(#106377, 1);
$light: rgba(#F8F8F8, 1);
$danger: rgba(#FF3535, 1);
$primary-gradient: linear-gradient(130.94deg, #4FD4B6 3.55%, #33B19A 96.9%);
$secondary-gradient: linear-gradient(145.78deg, #6580E2 7.29%, #324FB5 94.33%);

$base-font: 18px/160% Raleway, sans-serif;

$h1-font: 500 96px/130% Franxurter Totally, sans-serif;
$h1-font-sm: 500 55px/130% Franxurter Totally, sans-serif;
$h1-margin-bottom: 40px;

$h2-font: 500 64px/130% Franxurter Totally, sans-serif;
$h2-font-sm: 500 45px/130% Franxurter Totally, sans-serif;
$h2-margin-bottom: 36px;

$h3-font: 500 48px/130% Franxurter Totally, sans-serif;
$h3-font-sm: 500 32px/130% Franxurter Totally, sans-serif;
$h3-margin-bottom: 19px;

$h4-font: 500 36px/130% Franxurter Totally, sans-serif;
$h4-font-sm: $h4-font;
$h4-margin-bottom: 18px;

$h5-font: 500 24px/130% Raleway, sans-serif;
$h5-font-sm: $h5-font;
$h5-margin-bottom: 6px;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "dark": $dark,
        "danger": $danger,
        "light": $light,
        "yellow": $yellow,
);


$spacers: (
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10)
);

$grid-gutter-width: 30px;

$grid-breakpoints: (
        xs: 0,
        s:  376px,
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1440px
);

$container-max-widths: (
        sm: 576px,
        md: 720px,
        lg: 960px,
        xl: 1260px
);

$fa-font-path: "../fonts";

//@mixin respond-to($breakpoint) {
//  // If the breakpoint exists in the map.
//  @if map-has-key($grid-breakpoints, $breakpoint) {
//    // Write the media query.
//    @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
//      @content;
//    }
//
//    // If the breakpoint doesn't exist in the map.
//  } @else {
//
//    // Log a warning.
//    @warn 'Invalid breakpoint: #{$breakpoint}.';
//
//  }
//}

$breakpoints-for-media: (//медиа min-width 576px это <= 576px, $grid-breakpoints на 1px меньше для медиа
        xs: 0,
        s:  375px,
        sm: 575px,
        md: 767px,
        lg: 1023px,
        xl: 1439px
);


@mixin respond-to($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints-for-media, $breakpoint) {
    // Write the media query.
    @media (max-width: #{map-get($breakpoints-for-media, $breakpoint)}) {
      @content;
    }
    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


/*$grid-breakpoints: (
        xs: 0,
        sm: 577px,
        md: 900px,
        lg: 1120px,
        xl: 1430px
);

$container-max-widths: (
        sm: 576px,
        md: 720px,
        lg: 940px,
        xl: 1248px
);*/

