@import "../../variables";
@import "../../components/promo-card";

.attention {
  padding: 75px 0;

  .attention__title {
    line-height: 100%;
    color: $secondary;
    margin-bottom: 41px;
    a{
      color: #50d5b7;
      border-bottom: 3px dashed #50d5b7;
      text-decoration: none;
    }
    @include respond-to(lg) {
      text-align: center;
    }
  }

  .swiper-slide {
    padding: 0 15px;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 33px;
    height: 57px;
    top: 40%;

    &:after {
      content: '';
    }

    @include respond-to(sm) {
      bottom: 0;
      top: unset;
    }
  }

  .swiper-button-prev {
    background: url("../images/attention/slider-attention-left-arrow.svg") center no-repeat;
    background-size: contain;
  }

  .swiper-button-next {
    background: url("../images/attention/slider-attention-right-arrow.svg") center no-repeat;
    background-size: contain;
  }

  .swiper-pagination {
    margin-top: 36px;
    position: relative;
    bottom: 0;
    @include respond-to(xl) {
      margin-top: 0;
    }
    @include respond-to(sm) {
      bottom: 10px;
    }

    .swiper-pagination-bullet {
      margin: 0 5px;
      outline: none;
      opacity: 1;
      width: 15px;
      height: 15px;
      background: rgba(86, 196, 221, 0.23);
    }

    .swiper-pagination-bullet-active {
      background: #4FD7F5;
    }
  }
}
