@import "../../variables";
@import "../../components/catalog-item";
.catalog {
  padding-top: 115px;
  padding-bottom: 118px;
  background: $light;

  .catalog__title {
    color: $secondary;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 16px;
    @include respond-to(lg){
      font-size: 70px;

    }
    @include respond-to(sm){
      font-size: 55px;

    }
  }

  .catalog__content {
    padding-top: 32px;
    background: #FFFFFF;
    box-shadow: 0 59px 61px rgba(0, 0, 0, 0.13);
    border-radius: 39px;

    .catalog__items {
      margin-bottom: 86px;
    }

    .catalog__btns {
      .catalog__btn {
        width: 100%;
        padding: 30px 15px;
        height: 100%;
        font-family: Franxurter Totally, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        @include respond-to(sm) {
          font-size: 32px;
        }

        span {
          display: block;
          font-family: Raleway, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 160%;
          text-align: center;
          color: $light;
        }
      }

      .catalog__btn-call {
        background: $secondary-gradient;
        border: none;
        border-radius: 0 0 0 39px;

      }

      .catalog__btn-test {
        background: $primary-gradient;
        border: none;
        border-radius: 0 0 39px 0;
      }
    }
  }

}