@import "../../variables";
.footer {
  padding: 73px 0 29px 0;
  background: $primary-gradient;

  .footer__content {
    margin-bottom: 58px;
  }

  .footer__logo-wrap {
    margin-bottom: 56px;
  }

  .footer__social a {
    margin-right: 49px;
    font-size: 28px;
    color: $light;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $light;
    }
  }

  .footer__social, .footer__logo-wrap {
    @include respond-to(lg) {
      text-align: center;
    }
  }

  .footer__menu {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    font-weight: 300;

    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $light;

      &:hover {
        text-decoration: underline;
        color: $light;
      }
    }

    @include respond-to(md) {
      text-align: center;
      margin-top: 0;
    }
  }

  .footer__contacts-wrap {
    margin-top: 20px;
    padding-left: 20px;
    @include respond-to(lg) {
      padding-left: 48px;
    }
    @include respond-to(md) {
      padding-left: 0;
      margin-top: 0;
      text-align: center;
    }
  }

  .footer__contacts {
    margin-bottom: 28px;
    list-style: none;
    font-weight: 300;
    padding-left: 0;

    .fas {
      display: block;
      margin-right: 14px;
    }

    a {
      display: flex;
      align-items: baseline;
      margin-bottom: 15px;
      color: $light;

      &:hover {
        text-decoration: underline;
        color: $light;
      }

      @include respond-to(md) {
        justify-content: center;
      }
      @include respond-to(sm) {
        display: block;
        .fas {
          display: inline-block;
        }
      }
    }

    li:last-child a {
      margin-bottom: 0;
    }
  }

  .footer__terms {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 130%;
    color: $light;
    opacity: 0.6;

    .footer__copyright, a {
      margin-right: 40px;
    }

    a {
      text-decoration: underline;
      color: $light;

      &:hover {
        color: $light;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include respond-to(md) {
      flex-direction: column;
      text-align: center;
      .footer__copyright, a {
        margin-right: 0;
        color: $light;
      }
      .footer__copyright {
        margin-bottom: 10px;
      }
    }
  }
}


