@import "../../variables";
.map-center {
  padding-top: 57px;

  .map-center__title {
    color: $secondary;
    margin: 0 auto 30px;
    max-width: 1400px;
    padding-left: 87px;
    @include respond-to(md) {
      padding-left: 0;
      text-align: center;
    }
  }

  .map-center__container-wrap {
    background: $light;
  }

  .map-center__container {
    max-width: 1400px;
    margin: 0 auto;
    @include respond-to(xl) {
      padding-left: 0;
      max-width: 100%;
    }
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .map-center__iframe-wrap {
    margin-bottom: -8px;
    position: relative;
    width: 100%;

    .map-center__filter-btn-show-panel {
      background: #fff;
      border: none;
      padding: 12px 8px 8px;
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      left: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      outline: none;
    }
  }


  .map-center__filter {
    box-sizing: border-box;
    padding: 32px 40px 0 87px;
    height: 100%;
    background: $light;
    @include respond-to(sm) {
      padding: 32px 40px 0 30px;
    }
    @include respond-to(s) {
      width: 100%;
    }

    .map-center__searchform-focused {
      border: 1px solid $secondary !important;
    }

    .map-center__searchform {
      height: 32px;
      padding-left: 12px;
      padding-right: 1px;
      display: flex;
      align-items: center;
      margin: 0 auto 19px;
      background: #FFFFFF;
      border: 1px solid $secondary;
      box-sizing: border-box;
      border-radius: 30px;

      .map-center__searchform-input {
        font-size: 14px;
        line-height: 160%;
        outline: none;
        min-width: 0;
        width: 0;
        background: #FFFFFF;
        border: none;
        flex-grow: 1;
        color: $dark;
        margin-right: 10px;

        &::placeholder {
          color: $dark;
          opacity: 0.3;
        }
      }

      .map-center__searchform-btn {
        img {
          margin-right: 8px;
        }

        max-height: 28px;
        font-size: 14px;
        line-height: 100%;
        background: $secondary;
        border-radius: 80px;
        font-family: Franxurter Totally, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: $light;
        padding: 7px 12px;
        border: none;
        box-sizing: border-box;
        outline: none !important;

        &:hover {

          background: #5163A7;
        }
      }
    }

    .map-center__filter-title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 19px;

      .map-center__filter-title {
        color: $dark;
        margin-bottom: 0;

        img {
          margin-right: 6px;
        }
      }

      .map-center__filter-btn-hide-panel {
        background: transparent;
        border: none;
        border-bottom: 1px dashed $primary;
        color: $primary;
        font-size: 16px;
        line-height: 100%;
        padding: 0;
        outline: none;
      }
    }

    .map-center__filter-form {
      select {
        background: transparent;
        border: none;
        outline: none;
        overflow: hidden;

        option {
          color: #000;
          line-height: 160%;
          font-weight: 500;
          padding: 5px 0;
        }
      }
    }
  }

}