@import "../../variables";

.popular-blog {
  padding: 60px 0 77px;

  .popular__title, .blog__title {
    color: $dark;
    margin-bottom: 10px;
    @include respond-to(sm) {
      line-height: 100%;
      margin-bottom: 25px;
      text-align: center;
    }

    a {
      color: $primary;
      border-bottom: 3px dashed $primary;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .popular {
    .slider-popular {
      box-shadow: 2px 34px 60px rgba(0, 0, 0, 0.1);
      border-radius: 40px;
    }

    .popular-card__img {
      margin-bottom: 15px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .popular-card__content {
      padding: 0 53px 75px 63px;
      position: relative;
      @include respond-to(sm) {
        padding: 0 30px 55px 33px;
      }

      .popular-card__count-activity {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        @include respond-to(sm) {
          flex-wrap: wrap;
          margin-bottom: 0;
        }
      }

      .popular-card__views {
        img {
          margin-right: 13px;
          vertical-align: text-bottom;
        }

        @include respond-to(sm) {
          margin-bottom: 10px;
        }
        font-size: 14px;
        line-height: 160%;
        color: #4FD7F5;
      }

      .popular-card__activity-name {
        font-size: 14px;
        line-height: 160%;
        text-align: right;
        color: $primary;
        border-bottom: 1px dashed $primary;

        &:hover {
          text-decoration: none;
        }
      }

      .popular-card__title {
        margin-bottom: 18px;

        a {
          color: $primary;
          line-height: 100%;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .popular-card__subtitle {
        color: $dark;
      }
    }

    .swiper-popular-button-prev, .swiper-popular-button-next {
      top: unset;
      bottom: 16%;
      @include respond-to(md) {
        bottom: 22%;
      }
      @include respond-to(sm) {
        bottom: 31%;
      }
    }

    .swiper-button-prev {
      left: 15px;
      @include respond-to(sm) {
        left: 3px;
        width: 23px;
      }
    }

    .swiper-button-next {
      right: 15px;
      @include respond-to(sm) {
        right: 3px;
        width: 23px;
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    width: 33px;
    height: 57px;
    outline: none;

    &:after {
      content: '';
    }
  }

  .swiper-button-prev {
    background: url("../images/popular/slider-popular-left-arrow.svg") center no-repeat;
    background-size: contain;
  }

  .swiper-button-next {
    background: url("../images/popular/slider-popular-right-arrow.svg") center no-repeat;
    background-size: contain;
  }

  .blog {
    .slider-blog__wrap {
      padding-top: 20px;
      height: 683px;
      background: $primary-gradient;
      box-shadow: 2px 34px 60px rgba(0, 0, 0, 0.1);
      border-radius: 40px;
      overflow: hidden;
    }

    .slider-blog {
      position: relative;
      padding: 0 20px 0;
      height: 100%;

      .swiper-blog-button-next__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 55px;
        z-index: 10;
      }

      .swiper-blog-button-next {
        background: url("../images/blog/slider-blog-bottom-arrow.svg") center no-repeat;
        top: unset;
        width: 63px;
        height: 38px;

        &.swiper-button-disabled {
          opacity: 0.4;
        }
      }

      &:after {
        content: "";
        z-index: 1;
        left: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 125px;
        background: linear-gradient(180deg, transparent, #33b19a);
      }
    }

    .blog-card {
      &:hover {
        text-decoration: none;
      }

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      background: #FFFFFF;
      border-radius: 20px;

      img {
        border-radius: 20px 0 0 20px;
        @include respond-to(s) {
          display: none;
        }
      }

      .blog-card__content {
        padding: 25px 47px 22px 40px;
        @include respond-to(sm) {
          padding: 15px;
        }
        @include respond-to(s) {
          padding-bottom: 25px;
        }

        .blog-card__date {
          font-family: Franxurter Totally, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0.05em;
          margin-bottom: 7px;
          color: $dark;
        }

        .blog-card__subtitle {
          font-size: 16px;
          line-height: 100%;
          color: $secondary;
        }
      }
    }
  }
}