@import "../../variables";
@import "../../components/poster-card";
.poster {
  background: url(../images/poster/poster-bg.svg), linear-gradient(180deg, $light 0%, $light 3.12%, rgba(247, 247, 247, 0.650538) 32%, #FFFFFF 72.56%, rgba(248, 248, 248, 0) 87.01%);
  padding-top: 126px;
  padding-bottom: 159px;

  .poster__title {
    text-align: center;
    color: $secondary;
  }

  .slider-poster__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .swiper-poster-button-prev, .swiper-poster-button-next {
      height: 57px;
      outline: none;
      min-width: 33px;
      cursor: pointer;
      &.swiper-button-disabled{
        opacity: 0.4;
      }
      &:after {
        content: '';
      }
    }

    .swiper-poster-button-prev {
      margin-right: 25px;
      background: url("../images/poster/slider-poster-left-arrow.svg") left no-repeat;
      background-size: contain;
      @include respond-to(sm) {
        min-width: 20px;
        margin-right: 10px;
      }
    }

    .swiper-poster-button-next {
      margin-left: 25px;
      background: url("../images/poster/slider-poster-right-arrow.svg") right no-repeat;
      background-size: contain;
      @include respond-to(sm) {
        min-width: 20px;
        margin-left: 10px;
      }
    }

  }
}

