@import "../../variables";
@mixin bg-linear-gradient($parameter1,$parameter2,$parameter3) {
    background: linear-gradient(90deg, rgba(92, 167, 223, 0) $parameter1, #5CA6DF $parameter2,
            rgba(93, 162, 223, 0) $parameter3, rgba(93, 164, 223, 0.55)),
    url(../images/progress-steps/progress-steps-bg.jpg) center no-repeat;
    background-size: cover;
}

.progress-steps {
  @include bg-linear-gradient(0%, 49.98%, 100%);
  padding-top: 56px;
  padding-bottom: 42px;
  @include respond-to(xl) {
    @include bg-linear-gradient(-40%, 49.98%, 140%);
  }
  @include respond-to(sm) {
    @include bg-linear-gradient(-60%, 51.98%, 140%);
    background-size: cover;
  }

  .progress-steps__title-wrap {
    padding-top: 16px;
    background: url("../images/progress-steps/progress-steps-title-bg.svg") top center no-repeat;
    margin-bottom: 42px;
    @include respond-to(sm) {
      padding-top: 0;
      background-size: 276px;
    }
  }

  .progress-steps__title {
    text-align: center;
    color: $light;
    line-height: 100%;
    display: block;
    margin: 0 auto;

  }

  .progress-steps__subtitle {
    color: $light;
    text-align: center;
    line-height: 100%;
  }

  .progress-steps__items {
    max-width: 635px;
    margin: 0 auto;

    .progress-steps__item {
      position: relative;
      margin-bottom: 70px;

      &:last-child {
        margin-bottom: 0;
      }

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      @include respond-to(s) {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }

      .progress-steps__item-number {
        font-family: Peace Sans, sans-serif;
        min-width: 62px;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 75%;
        margin-right: 33px;
        text-align: center;
        color: $light;
        position: relative;
        z-index: 2;
        @include respond-to(sm) {
          font-size: 72px;
        }
        @include respond-to(s) {
          margin-right: 0;
        }
      }

      .progress-steps__item-title {
        font-family: Franxurter Totally, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 100%;
        color: $light;
        position: relative;
        z-index: 2;

      }

      .progress-steps__item-text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 160%;
        color: $light;
        position: relative;
        z-index: 2;
      }

      .progress-steps__item-btn {
        margin-top: 21px;
      }
    }

    .progress-steps__img-arrow {
      position: absolute;
      bottom: -40px;
      left: -120px;
      z-index: 1;
      @include respond-to(lg) {
        left: -90px;
      }
      @include respond-to(md) {
        left: -45px;
      }
      @include respond-to(sm) {
        bottom: -51px;
        left: -33px;
        height: 136px;
      }
      @include respond-to(s) {
        bottom: -127px;
        left: -17px;
        height: 120px;
      }
    }

    .progress-steps__img-line {
      position: absolute;
      bottom: -120px;
      right: -142px;
      z-index: 1;
      @include respond-to(lg) {
        bottom: -107px;
        right: -45px;
        height: 111px;
        transform: rotate(5deg);
      }
      @include respond-to(md) {
        bottom: -115px;
        right: 9px;
      }
      @include respond-to(sm) {
        transform: rotate(27deg);
      }
      @include respond-to(s) {
        bottom: -130 px;
        right: 0;
      }
    }
  }
}