@import "../../variables";
.search-block {
  background: url(../images/search-block/search-block-bg.svg), $primary-gradient;
  text-align: center;
  color: $light;
  padding: 121px 0 125px 0;

  .search-block__title {
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 56px;
    padding: 0 20px;
    @include respond-to(sm) {
      padding: 0;
      font-size: 45px;
    }
  }

  .search-block__form-focused {
    border: 1px solid $secondary !important;
  }

  .search-block__form {
    position: relative;
    box-sizing: border-box;
    height: 52px;
    padding-left: 12px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: $light;
    border-radius: 45px;
    border: 1px solid transparent;

    .search-block__form-icon {
      position: absolute;
      width: 17px;
      height: 17px;
      background: url(../images/search-block/search-block-icon.svg);
      margin-right: 10px;
    }

    .search-block__form-input {
      outline: none;
      min-width: 0;
      background: $light;
      border: none;
      flex-grow: 1;
      color: $dark;
      margin-right: 10px;
      padding: 0 0 0 24px;

      &::placeholder {
        color: $primary;
        @include respond-to(sm) {
          color: transparent;
        }
      }
    }

    .search-block__form-btn {
      background: $secondary;
      border-radius: 80px;
      font-family: Franxurter Totally, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      color: $light;
      padding: 11px 23px;
      border: none;
      box-sizing: border-box;
      outline: none !important;

      &:hover {
        background: #5163A7;
      }
    }
  }
}
