@import "../../variables";
@mixin checkbox-bg-color($bg-color) {
  label {
    &:after {
      background: $bg-color;
    }
  }
}

.select-skills {
  padding: 51px 0 86px;

  .select-skills__title {
    color: $secondary;
    line-height: 100%;
    margin-bottom: 0;
    @include respond-to(lg) {
      text-align: center;
    }
  }

  .select-skills__subtitle {
    color: $primary;
    line-height: 100%;
    margin-bottom: 64px;
    @include respond-to(lg) {
      text-align: center;
      margin-bottom: 24px;
    }
  }

  .select-skills__text {
    margin-top: 7px;
    text-align: right;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    @include respond-to(lg) {
      text-align: center;
      margin: 0 0 30px;
    }
  }

  .select-skills__form {
    padding-top: 87px;
    padding-bottom: 228px;
    position: relative;
    @include respond-to(md) {
      text-align: left;
      padding: 0;
      margin-bottom: 54px;
    }

    img {
      margin: 0 auto;
      display: block;
      @include respond-to(xl) {
        width: 60%;
        height: auto;
      }
      @include respond-to(md) {
        width: 100%;
        height: auto;
        margin-bottom: 30px;

      }
    }

    .select-skills__checkbox-item {
      position: absolute;
      @include respond-to(md) {
        position: initial;
        margin-bottom: 15px;
      }

      span:before {
        content: "";
        position: absolute;
        @include respond-to(md) {
          content: none;
        }
      }

      &.skill-logic {
        @include checkbox-bg-color(#B4DEF6);
        top: 3%;
        left: 24%;
        @include respond-to(xl) {
          left: 17%;
        }
        @include respond-to(lg) {
          left: 7%;
        }

        span:before {
          width: 64px;
          height: 26px;
          background: url("../images/select-skills/select-skills-logic-line.svg") center no-repeat;
          background-size: auto;
          bottom: -20px;
          right: -70px;
        }
      }

      &.skill-memory {
        @include checkbox-bg-color(#6CC6EF);
        top: 12%;
        left: 20%;
        @include respond-to(xl) {
          top: 14%;
          left: 12%;
        }
        @include respond-to(lg) {
          left: 1%;
        }

        span:before {
          width: 67px;
          height: 26px;
          background: url("../images/select-skills/select-skills-memory-line.svg") center no-repeat;
          background-size: auto;
          bottom: 0;
          right: -73px;
        }
      }

      &.skill-flexibility {
        @include checkbox-bg-color(#DBF732);
        top: 30%;
        left: 3%;
        @include respond-to(xl) {
          left: -3%;
        }

        span:before {
          width: 57px;
          height: 15px;
          background: url("../images/select-skills/select-skills-flexibility-line.svg") center no-repeat;
          background-size: auto;
          bottom: 0;
          right: -63px;
          @include respond-to(lg) {
            content: none;
          }
        }
      }

      &.skill-strength {
        @include checkbox-bg-color($danger);
        bottom: 30%;
        left: 2%;
        @include respond-to(xl) {
          bottom: 32%;
          left: -4%;
        }
        @include respond-to(lg) {
          bottom: 37%;
          left: -4%;
        }

        span:before {
          width: 43px;
          height: 31px;
          background: url("../images/select-skills/select-skills-strength-line.svg") center no-repeat;
          background-size: auto;
          bottom: 30px;
          right: -50px;
          @include respond-to(lg) {
            content: none;
          }
        }
      }

      &.skill-intelligence {
        @include checkbox-bg-color(#5F82FF);
        bottom: 19%;
        left: 16%;
        @include respond-to(xl) {
          left: 8%;
          bottom: 21%;
        }
        @include respond-to(lg) {
          left: -3%;
          bottom: 23%;
        }

        span:before {
          width: 90px;
          height: 115px;
          background: url(../images/select-skills/select-skills-intelligence-line.svg) center no-repeat;
          background-size: auto;
          bottom: 22px;
          right: -93px;
          @include respond-to(lg) {
            bottom: 21px;
            right: -93px;
          }
        }
      }

      &.skill-technology {
        @include checkbox-bg-color(#D1ADD1);
        bottom: 9%;
        left: 21%;
        @include respond-to(xl) {
          left: 13%;
          bottom: 10%;
        }
        @include respond-to(lg) {
          left: 3%;
          bottom: 9%;
        }

        span:before {
          width: 106px;
          height: 130px;
          background: url(../images/select-skills/select-skills-technology-line.svg) center no-repeat;
          background-size: auto;
          bottom: 38px;
          right: -100px;
          @include respond-to(lg) {
            bottom: 43px;
            right: -92px;
            transform: rotate(-8deg);
          }
        }
      }

      &.skill-creative {
        @include checkbox-bg-color($danger);
        top: 3%;
        right: 20%;
        @include respond-to(xl) {
          right: 11%;
        }
        @include respond-to(lg) {
          right: -1%;
        }

        span:before {
          width: 64px;
          height: 26px;
          background: url("../images/select-skills/select-skills-creative-line.svg") center no-repeat;
          background-size: auto;
          bottom: -20px;
          left: -70px;
        }
      }

      &.skill-observation {
        @include checkbox-bg-color(#F68432);
        top: 12%;
        right: 18%;
        @include respond-to(xl) {
          right: 10%;
          top: 14%;
        }
        @include respond-to(lg) {
          right: -2%;
          top: 14%;
        }

        span:before {
          width: 67px;
          height: 26px;
          background: url("../images/select-skills/select-skills-observation-line.svg") center no-repeat;
          background-size: auto;
          bottom: 0;
          left: -73px;
        }
      }

      &.skill-speed {
        @include checkbox-bg-color(#6CC6EF);
        top: 30%;
        right: 5%;
        @include respond-to(xl) {
          right: 0;
        }
        @include respond-to(lg) {
          right: -3%;
        }

        span:before {
          width: 38px;
          height: 33px;
          background: url("../images/select-skills/select-skills-speed-line.svg") center no-repeat;
          background-size: auto;
          bottom: -28px;
          left: -33px;
          @include respond-to(lg) {
            content: none;
          }
        }
      }

      &.skill-endurance {
        @include checkbox-bg-color(#FFC38C);
        bottom: 28%;
        right: 5%;
        @include respond-to(xl) {
          right: -1%;
          bottom: 31%;
        }
        @include respond-to(lg) {
          right: 6%;
          bottom: 37%;
        }

        span:before {
          width: 44px;
          height: 37px;
          background: url("../images/select-skills/select-skills-endurance-line.svg") center no-repeat;
          background-size: auto;
          bottom: 37px;
          left: -45px;
          @include respond-to(lg) {
            content: none;
          }
        }
      }

      &.skill-ear-music {
        @include checkbox-bg-color(#CBFA7E);
        bottom: 19%;
        right: 17%;
        @include respond-to(xl) {
          right: 10%;
          bottom: 20%;
        }
        @include respond-to(lg) {
          right: -4%;
          bottom: 24%;
        }

        span:before {
          width: 80px;
          height: 132px;
          background: url("../images/select-skills/select-skills-ear-music-line.svg") center no-repeat;
          background-size: auto;
          bottom: 20px;
          left: -85px;
          @include respond-to(lg) {
            bottom: 7px;
            left: -95px;
            transform: rotate(-12deg);
          }
        }
      }

      &.skill-concentration {
        @include checkbox-bg-color(#9AD785);
        bottom: 9%;
        right: 18%;
        @include respond-to(xl) {
          right: 9%;
          bottom: 10%;
        }
        @include respond-to(lg) {
          right: -4%;
          bottom: 11%;
        }

        span:before {
          width: 106px;
          height: 130px;
          background: url("../images/select-skills/select-skills-concentration-line.svg") center no-repeat;
          background-size: auto;
          bottom: 38px;
          left: -100px;
          @include respond-to(lg) {
            transform: rotate(5deg);
          }
        }
      }

      .skill-label {
        color: $dark;
        font-size: 18px;
        background: transparent;
        line-height: 50px;
        cursor: pointer;
        margin-bottom: 0;
        position: relative;
        transition: all 0.2s linear;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: 1px dotted #BBBBBB;
          box-sizing: border-box;
          transition: all 0.08s linear;
        }
      }

      .skill-label-left {
        padding: 0 60px 0 10px;

        &::after {
          right: 0;
        }

        @include respond-to(md) {
          padding: 0 10px 0 60px;

          &::after {
            left: 0;
          }
        }
      }

      .skill-label-right {
        padding: 0 10px 0 60px;

        &::after {
          left: 0;
        }
      }

      input {
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &:checked {

          ~ .skill-label {
            background: #4FD7F5;
            border-radius: 61px;
            color: $light;

            &::after {
              border: 3px dotted $light;
              box-sizing: border-box;
              background-image: url('../images/select-skills/select-skills-check.svg');
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
  }

  .select-skills__list-wrap {
    padding-left: 50px;
    @include respond-to(md) {
      width: fit-content;
      margin: 0 auto 41px;
      padding: 0;
    }

  }

  .select-skills__list {
    list-style: none;
    padding: 0;
    margin-bottom: 41px;

    li {
      padding-left: 40px;
      font-style: italic;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 21px;
      background: url("../images/select-skills/select-skills-list-mark.svg") left no-repeat;
    }
  }

  .select-skills__test {
    padding: 27px 49px 37px;
    background: $primary-gradient;
    box-shadow: 10px 13px 37px rgba(0, 0, 0, 0.18);
    border-radius: 10px;

    .select-skills__test-title {
      font-size: 36px;
      line-height: 100%;
      text-align: center;
      color: $light;
      margin-bottom: 16px;
    }

    .select-skills__test-subtitle {
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      color: $light;
      margin-bottom: 16px;
    }

    button {
      display: block;
      margin: 0 auto;
    }
  }
}

