.catalog-item {
  &:hover {
    text-decoration: none;
    color: black;
    background: url("../images/catalog/catalog-item-border.svg") center no-repeat;
  }

  padding: 25px;
  height: 267px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  font-family: Franxurter Totally,sans-serif;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  color: black;
  box-sizing: border-box;
  @include respond-to(lg) {
    min-width: auto;
    min-height: auto;
  }

  &:hover .catalog-item__subtitle {
    display: block;
  }

  .catalog-item__img-wrap {
    margin-bottom: 32px;
  }

  .catalog-item__img {
    @include respond-to(sm) {
      max-width: 240px;
    }
  }

  .catalog-item__subtitle {
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -5px;
    font-family: Franxurter Totally, sans-serif;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: $secondary;
  }

}