.poster-card {
  width: 100%;
  @include respond-to(sm) {
    margin: 0 auto;
  }
}

.poster-card_primary {
  .poster-card__header {
    background-color: $primary;
  }

  .poster-card__content {
    background: $primary-gradient;
  }

  .poster-card__item-date {
    color: $dark;
  }
}

.poster-card_secondary {
  .poster-card__header {
    background-color: $secondary;
  }

  .poster-card__content {
    background: $secondary-gradient;
  }

  .poster-card__item-date {
    color: $primary;
  }
}

.poster-card__header {
  min-height: 50px;
  padding: 7px 15px;
  background: url(../images/poster/poster-flare.svg) 4px 3px no-repeat;
  box-shadow: 0 11px 16px rgba(0, 0, 0, 0.18);
  border-radius: 80px;
  font-family: Franxurter Totally, sans-serif;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: $light;
  position: relative;
  z-index: 2;
}

.poster-card__content {
  height: 423px;
  border-radius: 0 0 20px 20px;
  padding: 35px 13px 30px;
  position: relative;
  top: -25px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-card__item_border-disable, .poster-card__item {
  height: 115px;
  padding: 16px 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 1px;
    width: 100%;
    height: 2px;
    opacity: 0.25;
    background: $dark;
    border-bottom: 1px solid $light;
    box-sizing: border-box;
  }

  .poster-card__item-date {
    font-family: Franxurter Totally, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    width: 69px;
    min-width: 69px;
    padding-right: 14px;
  }

  .poster-card__item-description {
    font-size: 16px;
    line-height: 135%;
    color: $light;
    font-weight: 300;
  }
}

.poster-card__item_border-disable {
  &:before {
    content: none;
  }
}
.swiper-timetable-button-next{
  cursor: pointer;
  &.swiper-button-disabled{
    opacity: 0.4;
  }
}