.promo-card {
  display: flex;
  margin: 0 75px;
  @include respond-to(xl){
    margin-bottom: 40px;
  }
  @include respond-to(lg) {
    margin: 0 55px 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include respond-to(md) {
    margin: 0 63px 40px;
  }
  @include respond-to(sm) {
    margin: 0 0 40px;
  }

  .promo-card__img {
    border-radius: 16px;
    @include respond-to(sm) {
      width: 100%;
      height: auto;
    }
  }

  //.promo-card__adv {
  //  font-size: 14px;
  //  line-height: 160%;
  //  text-align: right;
  //  color: $primary;
  //}

  .promo-card__left, .promo-card__right {
    padding: 0 15px;
    @include respond-to(lg) {
      padding: 0;
    }
  }

  .promo-card__right {
    padding-right: 30px;
    @include respond-to(lg) {
      padding: 0;
    }
    @include respond-to(sm) {
      max-width: 390px;
    }

    & .btn {
      @include respond-to(sm) {
        box-shadow: 8px 11px 12px rgba(0, 0, 0, 0.18);
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .promo-card__activity-name {
    font-size: 14px;
    line-height: 160%;
    color: $secondary;
    border-bottom: 1px dashed $secondary;

    &:hover {
      text-decoration: none;
    }
  }

  .promo-card__title {
    line-height: 100%;
    color: $primary;
    margin-bottom: 12px;
  }

  .promo-card__subtitle {
    margin-bottom: 17px;
    line-height: 160%;
    color: $dark;
  }

  .promo-card__price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Franxurter Totally, sans-serif;
    line-height: 100%;
    margin-bottom: 18px;

    .promo-card__price-new {
      font-size: 36px;
      color: $danger;
      margin-right: 29px;
    }

    .promo-card__price-old {
      position: relative;
      font-size: 24px;
      color: $dark;

      &:after {
        content: '';
        position: absolute;
        width: 115%;
        height: 2px;
        background: $danger;
        top: 50%;
        left: -7%;
      }
    }
  }


  .promo-card__btn {
    margin-bottom: 60px;
  }
}